<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="sgc.Properties.Settings.conRelatorios" connectionString="Data Source=domingossan2f09;Initial Catalog=SGC;Persist Security Info=True;User ID=sa;Password=passwd"
          providerName="System.Data.SqlClient" />
      <add name="sgc.Properties.Settings.SGCConnectionString" connectionString="Data Source=domingossan2f09;Initial Catalog=SGC;Persist Security Info=True;User ID=sa;Password=passwd"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>